@import '../src/common/css/colors.css';

.app {
  height: 100vh;
  background-color: var(--background-color);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative !important;
}

.app .loginLogoutCard {
  position: absolute !important;
  top: 80px;
  right: 40px;
  z-index: 15;
}